
    /* .content { */
    body{
        max-width: 600px;
        margin: auto;
        text-align: center;
        /* background-color: blanchedalmond; */
    }
    h1{
        font-size: 50px;
        text-align: center;
    }
    ul{
        list-style-type:none;
        text-align: center; 
    }
    #git{
        margin: 33% 33% 0%;
        text-align: center;
    } 
    p{
        font-size: large;
        text-align:left;
    }
    h2{
        text-decoration: underline;
        
    }
    h4{
        /* text-align:left; */
        text-decoration: underline;
        font-size: large;

    }
